venv/
*.pyc
__pycache__/
media/
.DS_Store
*.sqlite3
local_settings.py
.env
staticfiles/
planet_images/
django_app.log
mainapp/models/trained_cement_model.pkl
mainapp/models/trained_powerplant_model.pkl
mainapp/models/trained_steel_model.pkl
mainapp/models/trained_tannery_model.pkl
mainapp/kalman_lstm.py
mainapp/models